/*
    Document   : custom
    Created on : 27/07/2013, 19:28:12
    Author     : maxuel
    Description: estrutura do masterSis
*/

body
{
    position: relative;
    padding-top: 70px; 
}

a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
a:active {text-decoration: none;}

#footer {
    height: 60px;
    background-color: #f5f5f5;
}

.container .credit {
    margin: 20px 0;
}

.modal-content{
    padding: 10px;
}

/* LAYOUT DO RECIBO */
.recibo{
    font-family: sans-serif;
    font-size: 12px;
}
.cabeca-recibo{
    text-align: center;
    border-bottom: 1px solid #f5f5f5;
}

.lista-produto{
    width: 100%;
    text-align: left;
    font-size: 12px;
}

.lista-produto td{
    border-top: 1px solid #f5f5f5;
    padding: 2px;
}

.miniletras{
    padding: 3px;
    font-size: 10px;
    border-bottom: 1px dotted #f5f5f5;
    border-top: 1px dotted #f5f5f5;
}

.rodape-recibo{
    width: 100%;
    font-size: 12px;
}

.descr-os {
    padding: 3px;
    border-bottom: 1px dotted #ccc;
    border-top: 1px dotted #ccc;
}
/* FIM DO LAYOUT */


#modal-ajax-content {
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

/* CONFIGURACÃO DO MENU */
.centraliza-menu {
    width: 700px;
    margin: 0 auto;
}


.navbar-nav>li:hover {
    background-color:#f5f5f5;
}

/* CONFIGURACÃO DOS ICONES GERAL */
.glyphicon {
    margin: 5px auto 10px;
    font-size: 18px;
}

.glyphicon:hover {
    color: #000;
}


/* FORMULARIO */
form{
    background-color: #f5f5f5;
    border-radius:10px;
    padding:8px 12px;
}

input[type="text"] {
    display:block;
    width:100%;
    height:32px;
    padding:4px 6px;
    font-size:14px;
    vertical-align:middle;
    border: 1px solid #999;
    border-radius:6px;
}

input[type="password"] {
    display:block;
    height:32px;
    padding:8px 12px;
    font-size:16px;
    vertical-align:middle;
    border: 1px solid #f5f5f5;
    border-radius:4px;
}

input[type="number"] {
    font-size:14px;
    border: none;
}

select {
    display:block;
    width:100%;
    height:32px;
    padding:8px 12px;
    font-size:14px;
    line-height:1.428571429;
    vertical-align:middle;
    background-color: #fff;
    border-radius:4px;
}

textarea{
    display:block;
    width:100%;
    padding:4px 6px;
    resize: none;
    font-size:14px;
    line-height:1.428571429;
    vertical-align:middle;
    border-radius:4px;
    border: 1px solid #999;
}

input[type="file"] {
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "alpha(opacity=0)";
    -khtml-opacity: 0;
    -moz-opacity: 0;
}

.file_input_button
{
    width:50%;
    vertical-align:middle;
    padding:6px 12px;
    height:35px;
    text-align: center;
    background-color:#f5f5f5;
    border:1px solid #ccc;
    border-radius:4px;
    float: left;
    cursor: pointer;
}

input[type="date"], input[type="email"] {
    display:block;
    width:100%;
    padding:6px 12px;
    height:32px;
    font-size:14px;
    line-height:1.428571429;
    vertical-align:middle;
    border: 1px solid #f5f5f5;
    outline: none;
    border-radius:4px;
}

.IdPed {
    display:block;
    height:32px;
    padding:4px 6px;
    font-size:14px;
    vertical-align:middle;
    border: 1px solid #999;
    border-radius:6px;
}

.cep{
    max-width: 120px;
}

.valor {
    max-width: 160px;
}

.fone{
    max-width: 133px;
}

.cpf-cnpj{
    max-width: 173px;
}

/* Mensagem carregando */
.carregando {
    display:none;
    font-size: 10px;
}

.BordaOs {
    border-bottom: 1px solid #f9f9f9;
    border-top: 1px solid #f9f9f9;
    background-color: transparent;
    border-radius:4px;
    padding: 3px 8px 3px 8px;
    margin-bottom: 10px;
}

.BordaCad {
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-radius:4px;
    padding: 3px 8px 3px 8px;
    margin-bottom: 10px;
    margin-top: 10px;
    display: none;
}


/* Permissoes */
.permissao-class {
    float: left;
    max-width: 400px;
    min-width: 250px;
    border: 1px solid #f5f5f5;
    padding: 6px 6px;
    font-size: 16px;
    margin: 6px 6px;
    text-transform: uppercase;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.permissao-class:hover{ 
    background-color: #f5f5f5;
}

.titulo-permissoes{
    background-color: #f5f5f5;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    margin: 0px 0px;
}


/* typeahead configuração */
.twitter-typeahead{
    width: 100%;
}

.typeahead,
.tt-query,
.tt-hint {
    width: 396px;
    height: 30px;
    padding: 8px 12px;
    font-size: 24px;
    line-height: 30px;
    border: 2px solid #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    outline: none;
}

.typeahead {
    background-color: #fff;
}

.typeahead:focus {
    border: 2px solid #0097cf;
}

.tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999
}

.tt-dropdown-menu {
    width: 100%;
    margin-top: 6px;
    padding: 4px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 2px;
    font-size: 12px;
    line-height: 24px;
}

.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0097cf;

}

.tt-suggestion p {
    margin: 0;
}

.titulo-busca-os {
    border-bottom: 1px #555 solid;
    border-top: 1px #555 solid;
    background-color: #f5f5f5;
    font-size: 12px;
    padding: 4px;
    margin: 0px 0px 0px 0px;

}

/* ESTILO DO FORMULARIO DE LOGIN */
.form-signin {
    max-width: 400px;
    padding: 15px;
    margin: 0 auto;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}