/*
    Document   : custom
    Created on : 27/07/2013, 19:28:12
    Author     : maxuel
    Description: estrutura do masterSis
*/

body
{
    position: relative;
    padding-top: 100px; 
}

a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
a:active {text-decoration: none;}

#footer {
    height: 60px;
    background-color: #f5f5f5;
}

.container .credit {
    margin: 20px 0;
}

/* LAYOUT DO RECIBO */
.recibo{
    font-family: sans-serif;
    font-size: 12px;
    border: 1px solid #f5f5f5;
}
.cabeca-recibo{
    text-align: center;
    border-bottom: 1px solid #f5f5f5;
}

.lista-recibo{
    width: 100%;
    text-align: left;
    font-size: 12px;
}

.lista-recibo td{
    border-top: 1px solid #f5f5f5;
    padding: 2px;
}

.miniletras{
    padding: 10px;
    font-size: 10px;
    border-bottom: 1px dotted #f5f5f5;
    border-top: 1px dotted #f5f5f5;
}

.rodape-recibo{
    width: 100%;
    font-size: 12px;
}

.rodape-recibo td{
    border-left: 2px solid #f5f5f5;
}
/* FIM DO LAYOUT */


#modal-ajax-content {
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

/* CONFIGURACÃO DO MENU */
.centraliza-menu {
    width: 600px;
    margin: 0 auto;
}

.titulo-menu {
    font-size: 15px;
    text-align: center;
    color: #ccc;
    border-bottom: 2px solid #ccc;
    margin-bottom: 4px;
    margin-top: -6px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 2px 2px rgba(0,0,0,0.075);
}

.dropdown:hover {
    background-color:#f5f5f5;
}

.dropdown-toggle span{
    font-size: 32px;
    line-height: 40%;
    padding-left: 10px;
    padding-right: 8px;    
}

/* CONFIGURACÃO DOS ICONES GERAL */
.glyphicon {
    margin: 5px auto 10px;
    font-size: 18px;
    color: #555;
}

.glyphicon:hover {
    color: #000;
}


/* FORMULARIO */
input[type="text"] {
    display:block;
    width:100%;
    height:32px;
    padding:8px 12px;
    font-size:16px;
    color:#555;
    vertical-align:middle;
    background-color:#fff;
    border:1px solid #ccc;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
}

input[type="password"] {
    display:block;
    height:32px;
    padding:8px 12px;
    font-size:16px;
    color:#555;
    vertical-align:middle;
    background-color:#fff;
    border:1px solid #ccc;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
}

select {
    display:block;
    width:100%;
    height:32px;
    padding:8px 12px;
    font-size:14px;
    line-height:1.428571429;
    color:#555;
    vertical-align:middle;
    background-color:#fff;
    border:1px solid #ccc;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
}

textarea{
    display:block;
    width:100%;
    resize: none;
    padding:8px 12px;
    font-size:14px;
    line-height:1.428571429;
    vertical-align:middle;
    background-color:#fff;
    border:1px solid #ccc;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
}

input[type="file"] {
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "alpha(opacity=0)";
    -khtml-opacity: 0;
    -moz-opacity: 0;
}

.file_input_button
{
    width:60%;
    vertical-align:middle;
    padding:6px 12px;
    height:38px;
    text-align: center;
    background-color:#f5f5f5;
    border:1px solid #ccc;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
    float: left;
    cursor: pointer;
}

input[type="date"], input[type="email"] {
    display:block;
    width:100%;
    padding:6px 12px;
    height:32px;
    font-size:14px;
    line-height:1.428571429;
    vertical-align:middle;
    background-color:#fff;
    border:1px solid #ccc;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
}

.cep{
    max-width: 120px;
}

.valor{
    max-width: 120px;
}

.fone{
    max-width: 133px;
}

.cpf-cnpj{
    max-width: 173px;
}

.BordaOs {
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);   
}


/* Permissoes */
.permissao-class {
    float: left;
    max-width: 400px;
    min-width: 250px;
    border: 1px solid #f5f5f5;
    padding: 6px 6px;
    font-size: 16px;
    margin: 6px 6px;
    text-transform: uppercase;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.permissao-class:hover{ 
    background-color: #f5f5f5;
}

.titulo-permissoes{
    background-color: #f5f5f5;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    margin: 0px 0px;
}


/* typeahead configuração */
.twitter-typeahead{
    width: 100%;
}

.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
    margin-bottom: 0;
}

.tt-dropdown-menu {
    min-width: 160px;
    width: 100%;
    margin-top: 2px;
    padding: 5px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.2);
    *border-right-width: 2px;
    *border-bottom-width: 2px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

.tt-suggestion {
    display: block;
    padding: 3px 20px;
}

.tt-suggestion.tt-is-under-cursor {
    color: #fff;
    background-color: #0081c2;
    background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
    background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
    background-image: -o-linear-gradient(top, #0088cc, #0077b3);
    background-image: linear-gradient(to bottom, #0088cc, #0077b3);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)
}

.tt-suggestion.tt-is-under-cursor a {
    color: #fff;
}

.tt-suggestion p {
    margin: 0;
}

/* ESTILO DO FORMULARIO DE LOGIN */
.form-signin {
    max-width: 400px;
    padding: 15px;
    margin: 0 auto;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}